<footer class="relative isolate bg-zinc-950 text-white p-4 sm:p-8 md:p-20 
               overflow-hidden w-full max-w-full mx-auto">
    <!-- gradient overlay -->
    <div aria-hidden="true" class="absolute inset-0 -z-10 overflow-hidden blur-3xl">
        <div style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 
                                80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 
                                47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 
                                17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)" class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 
                   w-[120%] h-[150%] rotate-30 
                   bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30">
        </div>
    </div>

    <!-- footer content -->
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6 md:gap-4 relative z-10">
        <div>
            <ul class="flex flex-col md:flex-row gap-2 md:gap-4 uppercase font-medium">
                <li>
                    <a href="https://www.linkedin.com/in/habibahassanmarei/" target="_blank"><i
                            class="fa-brands fa-linkedin-in text-2xl"></i></a>
                </li>
                <li>
                    <a href="https://github.com/HabibaMar3i" target="_blank"><i
                            class="fa-brands fa-github text-2xl"></i></a>
                </li>
                <li><a routerLink="/projects">Projects</a></li>
                <li><a routerLink="/about">About</a></li>
                <li><a routerLink="/contact">Contact</a></li>
            </ul>
        </div>
        <div>
            <ul class="flex flex-col gap-2">
                <li>
                    <p class="break-all"><i class="fa-solid fa-envelope"></i> habibahassanmar3i@gmail.com</p>
                </li>
                <li>
                    <p class="break-all"><i class="fa-solid fa-mobile"></i> +201120176255</p>
                </li>
            </ul>
        </div>
        <div class="flex items-end justify-start md:justify-end">
            <p><i class="fa-solid fa-h text-4xl md:text-5xl font-extrabold"></i></p>
        </div>
    </div>
</footer>