<div class="bg-zinc-950 text-white p-8 md:p-24 min-w-[600px]">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8 md:gap-4">
        <div>
            <ul class="flex flex-col md:flex-row gap-2 md:gap-6 uppercase font-medium">
                <li><a routerLink="/projects">Projects</a></li>
                <li><a routerLink="/about">About</a></li>
                <li><a routerLink="/contact">Contact</a></li>
            </ul>
        </div>
        <div>
            <ul class="flex flex-col gap-4">
                <li><p>habibahassanmar3i@gmail.com</p></li>
                <li><p>+201120176255</p></li>
            </ul>
        </div>
        <div class="flex items-end justify-start md:justify-end">
            <p><i class="fa-solid fa-h text-4xl md:text-5xl font-extrabold"></i></p>
        </div>
    </div>
</div>