    <span class="text-3xl font-bold">My Projects</span>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8 md:gap-4 p-4 mb-10">
        <div class="relative max-w-xl mx-auto cursor-pointer" routerLink="/projects">
            <img class="h-64 w-full object-cover rounded-md"
                src="https://images.unsplash.com/photo-1680725779155-456faadefa26" alt="Random image">
            <div class="absolute inset-0 bg-gray-700 opacity-60 rounded-md"></div>
            <div class="absolute inset-0 flex items-center justify-center">
                <h2 class="text-white text-3xl font-bold">Get Lost in Mountains</h2>
            </div>
        </div>
        <div class="relative max-w-xl mx-auto cursor-pointer" routerLink="/projects">
            <img class="h-64 w-full object-cover rounded-md"
                src="https://images.unsplash.com/photo-1680725779155-456faadefa26" alt="Random image">
            <div class="absolute inset-0 bg-gray-700 opacity-60 rounded-md"></div>
            <div class="absolute inset-0 flex items-center justify-center">
                <h2 class="text-white text-3xl font-bold">Get Lost in Mountains</h2>
            </div>
        </div>
        <div class="relative max-w-xl mx-auto cursor-pointer" routerLink="/projects">
            <img class="h-64 w-full object-cover rounded-md"
                src="https://images.unsplash.com/photo-1680725779155-456faadefa26" alt="Random image">
            <div class="absolute inset-0 bg-gray-700 opacity-60 rounded-md"></div>
            <div class="absolute inset-0 flex items-center justify-center">
                <h2 class="text-white text-3xl font-bold">Get Lost in Mountains</h2>
            </div>
        </div>
    </div>