<div class="flex flex-col gap-3 p-4 items-center md:items-start justify-center w-full max-w-[600px] mx-auto my-6">
  <span class="text-2xl sm:text-3xl font-bold self-center md:self-start">About me</span>
  <p class="text-sm sm:text-base leading-relaxed text-center md:text-left">
    I’m Habiba Hassan, a Business Information Systems graduate (2024) and Frontend Engineer at Banque Misr – Digital
    Transformation. I specialize in building modern, user-friendly web applications using Angular, React, and UI/UX
    design principles, with a passion for creating clean, accessible, and impactful digital experiences.
  </p>
</div>
