<div class="p-10 mx-auto grid grid-cols-1 md:grid-cols-2 gap-4 bg-slate-100">
    @for (project of projects; track project.id) {
        <div class="grid-cols-1 md:grid-cols-3 gap-8 p-6 rounded-lg mb-6 bg-white">
            <div>
                <img [src]="project.imageUrl" [alt]="project.title" class="w-full h-auto object-cover object-top rounded-md max-h-[300px] mb-2" />
            </div>
            <div class="col-span-2 gap-2 flex flex-col">
                <h2 class="text-2xl font-bold italic">{{ project.title }}</h2>

                <div class="flex flex-wrap gap-2 mt-2">
                    @for (tool of project.tools; track tool) {
                    <span class="px-2 py-1 rounded-full bg-cyan-100 text-cyan-900 text-sm font-semibold">
                        {{ tool }}
                    </span>
                    }
                </div>

                <p>{{ project.description }}</p>

                <div>
                    <h3 class="font-semibold text-lg">Features</h3>
                    <ul class="list-disc list-inside">
                        @for (feature of project.features; track feature) {
                        <li>{{ feature }}</li>
                        }
                    </ul>
                </div>

                <div class="flex gap-2 mt-2">
                    @if (project.githubLink) {
                    <button
                        class="text-cyan-600 bg-gray-200 rounded-sm px-3 py-2 cursor-pointer font-semibold"><a [href]="project.githubLink" target="_blank">Github Repo</a></button>
                    }
                    @if (project.liveLink) {
                    <button
                        class="text-gray-600 bg-cyan-200 rounded-sm px-3 py-2 cursor-pointer font-semibold"><a [href]="project.liveLink" target="_blank">Live Demo</a></button>
                    }
                </div>
            </div>
        </div>
    }
</div>