<nav>
    <div class="space-between flex flex-row p-4 bg-zinc-950 text-white">
        <p><i class="fa-solid fa-h text-5xl font-extrabold"></i></p>
        <ul class="flex flex-row gap-4 ml-auto">
            <li>
                <a routerLink="/home" routerLinkActive="bg-cyan-500 text-white rounded-md font-semibold"
                    class="p-2 hover:text-zinc-400">Home</a>
            </li>
            <li>
                <a routerLink="/about" routerLinkActive="bg-cyan-500 text-white rounded-md font-semibold"
                    class="p-2 hover:text-zinc-400">About</a>
            </li>
            <li>
                <a routerLink="/contact" routerLinkActive="bg-cyan-500 text-white rounded-md font-semibold"
                    class="p-2 hover:text-zinc-400">Contact</a>
            </li>
            <li>
                <a routerLink="/projects" routerLinkActive="bg-cyan-500 text-white rounded-md font-semibold"
                    class="p-2 hover:text-zinc-400">Projects</a>
            </li>
        </ul>
    </div>
</nav>
<div class="bg-zinc-950 h-[550px] w-full text-white flex flex-col justify-center items-center gap-4">
    @if (router.url === '/home') {
    <p class="text-7xl font-bold tracking-[-2px]">Habiba Hassan</p>
    <p class="text-5xl font-light tracking-[16px]">Software-Engineer</p>
    }
    @else {
    <p class="text-7xl font-bold tracking-[-2px] capitalize">
        {{ router.url.replace('/', '') }}
    </p>
    }
</div>
